<center> <img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg" align="center" width="960" height="480"/> </center>

<center><font color=#555555><font size=6> MAF1731 - Microstructure and Trading Systems </font> <br> <br>
    
<center><font color=#555555><font size=5> B.Eng Financial Engineering </font> <br> <br> <br> <br>

<center><font color=#555555><font size=3> Daniel García Hernández </font> <br> <br>
<center><font color=#555555><font size=3> Lizbeth Alejandra Barragán Vázquez </font> <br> <br>
<center><font color=#555555><font size=3> Chelsi Arelí Sedano Gómez </font> <br> <br>
    
<center> <font color= #555555> <font size = 4> Octubre 2021 </a> | <font color= #555555> <font size = 4> Repository: <a href='https://github.com/labv98/MyST_LAB_5_E1'>Link</a></font>

<hr style="border:0.02in solid gray"> </hr>

<center> <font color= #555555> <font size = 6> Lab 5 </font> <br> <br> <font color= #555555> <font size = 5> Proyecto Final Análisis Técnico  </font>

<hr style="border:0.02in solid gray"> </hr>

<br>

<font color= #555555> <font size = 4> Abstract </font>

<font color= #6B6B6B> <font size = 3>  Include here a description of the whole work, use no more than 400 words, you can use **Bold** and *Italic* highlights, also you can inclue [links](www.iteso.mx). Usually is a good strategy to generate this text at the very end of the process, since you have to include all aspects of the work, from a brief introduction, to problem definitions and methods used, to finally the results found. </font>

<br>

# <font color= #6B6B6B> <font size = 6> 1. Introducción </font>

<hr style="border:0.02in solid gray"> </hr>

This is an introduction, normally, it is done at the very end, when all the other content in the notebook is completed but just before the abstract (which is short version of the introduction) ...

# <font color= #6B6B6B> <font size = 5> Objetivos </font>

<font size = 3>**Objetivo general:**  </font>

Este laboratorio tiene como propósito 

<font size = 3>**Objetivos específicos:**</font>

* 

* 

* 

*

<br>

# <font color= #6B6B6B> 2. Instalar Paqueterías y Dependencias</font>

<hr style="border:0.02in solid gray"> </hr>

## <font color= #6B6B6B> 2.1 Paqueterías de python </font> <font color= #555555>

- fire==0.4.0

## <font color= #6E6E6E> 2.3 Install Packages</font>

In [1]:
%%capture

# Install all the pip packages in the requirements.txt
import sys
!{sys.executable} -m pip install -r requirements.txt

In [2]:
import warnings

if not sys.warnoptions:
    warnings.simplefilter("ignore")

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date

<br>

# <font color= #6B6B6B> 3. Desripción de los datos </font>

<hr style="border:0.02in solid gray"> </hr>

In [4]:
df = pd.read_excel('Historicos.xlsx')

In [5]:
df

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume
0,0,2018-08-27 11:24:00.000000,1.16127,1.16188,1.16127,1.16148,4127,7,825400000
1,1,2018-08-27 11:36:00.000000,1.16148,1.16181,1.16133,1.16156,3501,7,700200000
2,2,2018-08-27 11:48:00.000000,1.16156,1.16164,1.16087,1.16092,3606,7,721200000
3,3,2018-08-27 12:00:00.000000,1.16092,1.16131,1.16086,1.16127,3093,7,618600000
4,4,2018-08-27 12:12:00.000000,1.16127,1.16151,1.16100,1.16142,3057,7,611400000
...,...,...,...,...,...,...,...,...,...
10673,10673,2018-12-31 20:00:00.000001,1.14508,1.14543,1.14467,1.14508,7332,15,1099800000
10674,10674,2018-12-31 20:12:00.000000,1.14508,1.14509,1.14431,1.14450,5524,15,828600000
10675,10675,2018-12-31 20:24:00.000000,1.14450,1.14468,1.14418,1.14451,6117,15,917550000
10676,10676,2018-12-31 20:36:00.000000,1.14451,1.14463,1.14428,1.14433,5288,15,793200000
10677,10677,2018-12-31 20:48:00.000000,1.14433,1.14459,1.14431,1.14448,4194,13,629100000

# Moving Average

In [6]:
ma_df= df.copy()

In [7]:
ma_df['moving_average_short'] = ma_df['close'].rolling(window=20).mean()
ma_df['moving_average_long'] = ma_df['close'].rolling(window=50).mean()

In [8]:
final_ma = ma_df[['time', 'open', 'high', 'low', 'close', 'tick_volume', 'spread', 'real_volume']].copy()
final_bb = ma_df[['time', 'open', 'high', 'low', 'close', 'tick_volume', 'spread', 'real_volume']].copy()

# Boolinger bands

In [9]:
bb_df= df.copy()

In [10]:
bb_df['moving_average'] = bb_df['close'].rolling(window=20).mean()
bb_df['standar_deviation'] = bb_df['close'].rolling(window=20).std()
bb_df['boolinger_upper'] = bb_df['moving_average'] + (bb_df['standar_deviation'] * 2)
bb_df['boolinger_lower'] = bb_df['moving_average'] - (bb_df['standar_deviation'] * 2)

In [11]:
bb_df

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume,moving_average,standar_deviation,boolinger_upper,boolinger_lower
0,0,2018-08-27 11:24:00.000000,1.16127,1.16188,1.16127,1.16148,4127,7,825400000,NaN,NaN,NaN,NaN
1,1,2018-08-27 11:36:00.000000,1.16148,1.16181,1.16133,1.16156,3501,7,700200000,NaN,NaN,NaN,NaN
2,2,2018-08-27 11:48:00.000000,1.16156,1.16164,1.16087,1.16092,3606,7,721200000,NaN,NaN,NaN,NaN
3,3,2018-08-27 12:00:00.000000,1.16092,1.16131,1.16086,1.16127,3093,7,618600000,NaN,NaN,NaN,NaN
4,4,2018-08-27 12:12:00.000000,1.16127,1.16151,1.16100,1.16142,3057,7,611400000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10673,10673,2018-12-31 20:00:00.000001,1.14508,1.14543,1.14467,1.14508,7332,15,1099800000,1.144391,0.000748,1.145887,1.142895
10674,10674,2018-12-31 20:12:00.000000,1.14508,1.14509,1.14431,1.14450,5524,15,828600000,1.144409,0.000746,1.145902,1.142917
10675,10675,2018-12-31 20:24:00.000000,1.14450,1.14468,1.14418,1.14451,6117,15,917550000,1.144433,0.000741,1.145915,1.142951
10676,10676,2018-12-31 20:36:00.000000,1.14451,1.14463,1.14428,1.14433,5288,15,793200000,1.144446,0.000737,1.145919,1.142973
10677,10677,2018-12-31 20:48:00.000000,1.14433,1.14459,1.14431,1.14448,4194,13,629100000,1.144497,0.000698,1.145894,1.143101

In [12]:
for t in range(1, len(ma_df)):
    # For Moving Average
    if (ma_df.loc[t-1, 'moving_average_short'] < ma_df.loc[t-1, 'moving_average_long'] and
        ma_df.loc[t, 'moving_average_short'] > ma_df.loc[t, 'moving_average_long']):
        final_ma.loc[t, 'Operation'] = 'Comprar'
    
    elif (ma_df.loc[t-1, 'moving_average_short'] > ma_df.loc[t-1, 'moving_average_long'] and
          ma_df.loc[t, 'moving_average_short'] < ma_df.loc[t, 'moving_average_long']):
        final_ma.loc[t, 'Operation'] = 'Vender'
        
    # For boolinger Bands
    if (bb_df.loc[t-1, 'close'] > bb_df.loc[t-1, 'boolinger_lower'] and
        bb_df.loc[t, 'close'] < bb_df.loc[t, 'boolinger_lower']):
        final_bb.loc[t, 'Operation'] = 'Comprar'
    
    elif (bb_df.loc[t-1, 'close'] < bb_df.loc[t-1, 'boolinger_upper'] and
          bb_df.loc[t, 'close'] > bb_df.loc[t, 'boolinger_upper']):
        final_bb.loc[t, 'Operation'] = 'Vender'

In [13]:
earnings_df_ma = final_ma.dropna(subset=['Operation'])
earnings_df_ma.reset_index(drop=True, inplace=True)
earnings_df_ma

,time,open,high,low,close,tick_volume,spread,real_volume,Operation
0,2018-08-28 06:36:00.000000,1.16727,1.16731,1.16698,1.16718,2281,15,456200000,Vender
1,2018-08-28 11:12:00.000000,1.16899,1.16941,1.16875,1.16880,5244,7,1048800000,Comprar
2,2018-08-28 22:23:59.999999,1.16928,1.16960,1.16900,1.16928,3322,15,664400000,Vender
3,2018-08-29 17:48:00.000000,1.16902,1.16969,1.16844,1.16928,6667,7,1333400000,Comprar
4,2018-08-30 06:24:00.000000,1.17006,1.17009,1.16980,1.16993,2546,15,509200000,Vender
...,...,...,...,...,...,...,...,...,...
242,2018-12-28 12:24:00.000000,1.14521,1.14627,1.14506,1.14626,17932,15,2689800000,Vender
243,2018-12-28 13:23:59.999999,1.14680,1.14680,1.14599,1.14640,18258,15,2738700000,Comprar
244,2018-12-28 17:36:00.000000,1.14463,1.14515,1.14373,1.14433,24094,15,3614100000,Vender
245,2018-12-31 12:12:00.000000,1.14376,1.14425,1.14346,1.14420,5375,15,806250000,Comprar
246,2018-12-31 19:12:00.000000,1.14533,1.14543,1.14500,1.14501,7060,15,1059000000,Vender

In [14]:
earnings_df_bb = final_bb.dropna(subset=['Operation'])
earnings_df_bb.reset_index(drop=True, inplace=True)
earnings_df_bb

,time,open,high,low,close,tick_volume,spread,real_volume,Operation
0,2018-08-28 02:48:00.000000,1.16790,1.16834,1.16787,1.16833,1596,16,319200000,Vender
1,2018-08-28 08:12:00.000000,1.16709,1.16710,1.16618,1.16622,3670,7,734000000,Comprar
2,2018-08-28 09:36:00.000000,1.16724,1.16798,1.16681,1.16791,4599,7,919800000,Vender
3,2018-08-28 14:48:00.000000,1.17055,1.17174,1.17053,1.17155,6076,7,1215200000,Vender
4,2018-08-28 16:12:00.000000,1.17170,1.17270,1.17164,1.17236,5754,7,1150800000,Vender
...,...,...,...,...,...,...,...,...,...
649,2018-12-31 06:36:00.000000,1.14302,1.14302,1.14264,1.14277,3608,15,541200000,Comprar
650,2018-12-31 09:48:00.000000,1.14330,1.14436,1.14313,1.14422,7978,15,1196700000,Vender
651,2018-12-31 12:36:00.000000,1.14418,1.14518,1.14413,1.14485,8055,15,1208250000,Vender
652,2018-12-31 13:23:59.999999,1.14510,1.14653,1.14508,1.14635,8930,15,1339500000,Vender
653,2018-12-31 16:48:00.000000,1.14407,1.14415,1.14260,1.14345,9844,15,1476600000,Comprar

In [15]:
Capital= 100000
num_acciones = 10000
pp_ma= 0.01
pg_ma= 0.01

In [16]:
earnings_df_ma['Stoploss']= np.where(earnings_df_ma['Operation']=='Comprar',
                                      np.maximum(earnings_df_ma['close']-((Capital*.1)/num_acciones),earnings_df_ma['close']*(1-pp_ma)), 
                                      np.minimum(earnings_df_ma['close']+((Capital*.1)/num_acciones),earnings_df_ma['close']*(1+pp_ma)))

earnings_df_ma['Takeprofit']= np.where(earnings_df_ma['Operation']=='Comprar',earnings_df_ma['close']*(1+pg_ma),earnings_df_ma['close']*(1-pg_ma))
earnings_df_ma

,time,open,high,low,close,tick_volume,spread,real_volume,Operation,Stoploss,Takeprofit
0,2018-08-28 06:36:00.000000,1.16727,1.16731,1.16698,1.16718,2281,15,456200000,Vender,1.178852,1.155508
1,2018-08-28 11:12:00.000000,1.16899,1.16941,1.16875,1.16880,5244,7,1048800000,Comprar,1.157112,1.180488
2,2018-08-28 22:23:59.999999,1.16928,1.16960,1.16900,1.16928,3322,15,664400000,Vender,1.180973,1.157587
3,2018-08-29 17:48:00.000000,1.16902,1.16969,1.16844,1.16928,6667,7,1333400000,Comprar,1.157587,1.180973
4,2018-08-30 06:24:00.000000,1.17006,1.17009,1.16980,1.16993,2546,15,509200000,Vender,1.181629,1.158231
...,...,...,...,...,...,...,...,...,...,...,...
242,2018-12-28 12:24:00.000000,1.14521,1.14627,1.14506,1.14626,17932,15,2689800000,Vender,1.157723,1.134797
243,2018-12-28 13:23:59.999999,1.14680,1.14680,1.14599,1.14640,18258,15,2738700000,Comprar,1.134936,1.157864
244,2018-12-28 17:36:00.000000,1.14463,1.14515,1.14373,1.14433,24094,15,3614100000,Vender,1.155773,1.132887
245,2018-12-31 12:12:00.000000,1.14376,1.14425,1.14346,1.14420,5375,15,806250000,Comprar,1.132758,1.155642
246,2018-12-31 19:12:00.000000,1.14533,1.14543,1.14500,1.14501,7060,15,1059000000,Vender,1.156460,1.133560

In [17]:
for i in range(len(earnings_df_ma)):
    if earnings_df_ma.loc[i, 'Operation']== 'Vender':
        
        close_sp = ma_df[ma_df['close'] >= earnings_df_ma.loc[i, 'Stoploss']].close.to_list()
        close_sp.append([0])
        
        close_tp = ma_df[ma_df['close'] <= earnings_df_ma.loc[i, 'Takeprofit']].close.to_list()
        close_tp.append([0])
        
        time_sp = ma_df[ma_df['close'] >= earnings_df_ma.loc[i, 'Stoploss']].time.to_list()
        time_sp.append([0])
        
        time_tp = ma_df[ma_df['close'] <= earnings_df_ma.loc[i, 'Takeprofit']].time.to_list()
        time_tp.append([0])
        
        earnings_df_ma.loc[i, 'SL'] = close_sp[0]
        earnings_df_ma.loc[i, 'Date_SL'] = time_sp[0]
        
        earnings_df_ma.loc[i, 'TP'] = close_tp[0]
        earnings_df_ma.loc[i, 'Date_TP'] = time_tp[0]
        
    else:
        
        close_sp = ma_df[ma_df['close'] <= earnings_df_ma.loc[i, 'Stoploss']].close.to_list()
        close_sp.append([0])
        
        close_tp = ma_df[ma_df['close'] >= earnings_df_ma.loc[i, 'Takeprofit']].close.to_list()
        close_tp.append([0])
        
        time_sp = ma_df[ma_df['close'] <= earnings_df_ma.loc[i, 'Stoploss']].time.to_list()
        time_sp.append([0])
        
        time_tp = ma_df[ma_df['close'] >= earnings_df_ma.loc[i, 'Takeprofit']].time.to_list()
        time_tp.append([0])
        
        earnings_df_ma.loc[i, 'SL'] = close_sp[0]
        earnings_df_ma.loc[i, 'Date_SL'] = time_sp[0]
        
        earnings_df_ma.loc[i, 'TP'] = close_tp[0]
        earnings_df_ma.loc[i, 'Date_TP'] = time_tp[0]

In [19]:
earnings_df_ma

,time,open,high,low,close,tick_volume,spread,real_volume,Operation,Stoploss,Takeprofit,SL,Date_SL,TP,Date_TP
0,2018-08-28 06:36:00.000000,1.16727,1.16731,1.16698,1.16718,2281,15,456200000,Vender,1.178852,1.155508,1.17955,2018-09-21 09:59:59.999999,1.15507,2018-09-04 15:59:59.999999
1,2018-08-28 11:12:00.000000,1.16899,1.16941,1.16875,1.16880,5244,7,1048800000,Comprar,1.157112,1.180488,1.15710,2018-09-04 10:36:00.000001,1.18085,2018-09-24 16:12:00
2,2018-08-28 22:23:59.999999,1.16928,1.16960,1.16900,1.16928,3322,15,664400000,Vender,1.180973,1.157587,0.00000,0,1.15722,2018-09-04 10:23:59.999999
3,2018-08-29 17:48:00.000000,1.16902,1.16969,1.16844,1.16928,6667,7,1333400000,Comprar,1.157587,1.180973,1.15722,2018-09-04 10:23:59.999999,0.00000,0
4,2018-08-30 06:24:00.000000,1.17006,1.17009,1.16980,1.16993,2546,15,509200000,Vender,1.181629,1.158231,0.00000,0,1.15772,2018-09-04 09:24:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,2018-12-28 12:24:00.000000,1.14521,1.14627,1.14506,1.14626,17932,15,2689800000,Vender,1.157723,1.134797,1.16148,2018-08-27 11:24:00,1.13441,2018-10-26 14:00:00.000001
243,2018-12-28 13:23:59.999999,1.14680,1.14680,1.14599,1.14640,18258,15,2738700000,Comprar,1.134936,1.157864,1.13488,2018-10-26 13:48:00,1.16148,2018-08-27 11:24:00
244,2018-12-28 17:36:00.000000,1.14463,1.14515,1.14373,1.14433,24094,15,3614100000,Vender,1.155773,1.132887,1.16148,2018-08-27 11:24:00,1.13216,2018-10-31 14:48:00
245,2018-12-31 12:12:00.000000,1.14376,1.14425,1.14346,1.14420,5375,15,806250000,Comprar,1.132758,1.155642,1.13216,2018-10-31 14:48:00,1.16148,2018-08-27 11:24:00
246,2018-12-31 19:12:00.000000,1.14533,1.14543,1.14500,1.14501,7060,15,1059000000,Vender,1.156460,1.133560,1.16148,2018-08-27 11:24:00,1.13312,2018-10-31 11:36:00

In [ ]:
#PONER CONDICION QUE LAS FECHAS SEAN DESPUES DE LA FECHA EN QUE INICIAS CADA OPERACION
# APPEND UNA FECHA

In [18]:
earnings_df_ma['Date_SL']= date.fromtimestamp(earnings_df_ma['Date_SL'])

TypeError: cannot convert the series to <class 'int'>

In [ ]:
earnings_df_ma['CloseOp']=np.where(earnings_df_ma['Date_SL']>earnings_df_ma['Date_TP'],earnings_df_ma['TP'], earnings_df_ma['SL'])

In [ ]:
a = ma_df[ma_df['close'] >= earnings_df_ma.loc[0, 'Stoploss']]
a.close.to_list().append([0])[0]

In [ ]:
ma_df[ma_df['close'] >= earnings_df_ma.loc[0, 'Stoploss']]

<br>

# <font color= #6B6B6B> 4. A particular Process  </font>

<hr style="border:0.02in solid gray"> </hr>

In [ ]:
# DELETE THIS CELL IN YOUR FILE

# A particular process that is relevant for the work you are presenting.

<br>

# <font color= #6B6B6B> 5. Another particular Process  </font>

<hr style="border:0.02in solid gray"> </hr>

In [ ]:
# DELETE THIS CELL IN YOUR FILE

# Another particular process that is relevant for the work. Normally, you include between 2 and 5 at the most.

<br>

# <font color= #6B6B6B> <font size = 6> 5. Results </font>

<hr style="border:0.02in solid gray"> </hr>

In [ ]:
# DELETE THIS CELL IN YOUR FILE

# In here you present the general results, and also, a discussion of such results.

<br>

## <font color= #6B6B6B> 5.1 Results of first processes </font>

In [ ]:
# DELETE THIS CELL IN YOUR FILE

# Separate your results according to the main processes you are working on

<br>

## <font color= #6B6B6B> 5.2 Results of another proces </font>

In [ ]:
# DELETE THIS CELL IN YOUR FILE

# You can have several processes with which you are obtaining the results you need.

<br>

# <font color= #6B6B6B> <font size = 6> 6. References </font>

<hr style="border:0.02in solid gray"> </hr>

In [ ]:
# DELETE THIS CELL IN YOUR FILE

# Citations, and other references you are using.

# DO INCLUDE THE FOLLOWING CITATION FOR THIS TEMPLATE

[1] Munnoz, 2020. Python project template. https://github.com/iffranciscome/python-project. (2021).

<br>